@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Jana Spaces</h1>
        <p class="lead">La aplicación para gestionar salas, reservas y equipos dentro de la empresa.</p>
        <p>
            @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
            o
            @Html.ActionLink("Crea una cuenta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })
        </p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Busca salas</h2>
            <p>
                Podrás ver todas las salas disponibles para su uso, incluyendo detalles importantes, como equipos, capacidad máxima, etc.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Crea reservas</h2>
            <p>Agenda una reserva de una sala anteriormente creada para utilizarlas en fechas futuras.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Consulta reservas</h2>
            <p>¿Creaste una reserva con anterioridad? Revisa el estado de esta, si fue aprobada, cancelada o tuvo algún cambio.</p>
        </section>
    </div>
</main>